<form class="edit-contact-form">
    <label class="edit-form-label" for="first-name">First Name:</label><input name="first-name"
        class="edit-form-input" />
    <label class="edit-form-label" for="last-name">Last Name:</label><input name="last-name" class="edit-form-input" />
    <label class="edit-form-label" for="phone">Phone Number:</label><input name="phone" class="edit-form-input" />
    <label class="edit-form-label" for="email">Email:</label><input name="email" class="edit-form-input" />
    <label class="edit-form-label" for="notes">Notes:</label><textarea name="notes" class="edit-form-input"></textarea>
    <label class="edit-form-label" for="status">Status:</label><input name="status" class="edit-form-input" />
    <label class="edit-form-label" for="lead-source">Lead Source:</label><input name="lead-source"
        class="edit-form-input" />
    <label class="edit-form-label" for="user">User:</label><input name="user" class="edit-form-input" />

    <button type="submit" class="savebtn">Save</button>
</form>

<script src="/javascript/add.js"></script>